.button-group {
    display: flex;
    justify-content: center;
    margin-left: -80px;
    padding-bottom: 10px;
}

.button-group button {
    border: none;
    margin: 0 5px;
    padding: 10px 20px;
    border-radius: 10px;
    background: #191414;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.button-group button.current {
    background-color: #DAADC1;
    color: white;
}

.button-group button:hover {
    background-color: #A5689;
}

