.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    margin: 10px 0;
    padding-bottom: 50px;
}

.image {
    position: relative;
}

.image img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.image:Hover::before {
    content: "";
    display: block;
    outline: none;
    position: absolute;
    border-radius: 10px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0px 0px 5px #DAADC1;
    z-index: 1;
}

.image img:hover {
    position: absolute;

}

.grid-view-title {
    padding: auto;
    margin: auto;
    margin-top: 45px;
    margin-bottom: 20px;
    margin-left: 20px;
    width: 400px;
    font-size: 45px;
}

.button {
    margin-left: -400px;
}

.image {
    position: relative;
}

.image-text {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    font-size: 2vw;
    font-weight: bold;
    color: #DAADC1;
    white-space: wrap;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* set maximum number of lines to 2 */
    line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    z-index: 2;
}

.image:hover .image-text {
    visibility: visible;
}

/* adjust font size based on parent width */
@media screen and (min-width: 800px) {
    .image-text {
      font-size: calc(30px + 2vw); /* set font size to 20px plus 2% of viewport width */
    }
}