.login-button {
    background-color: #e390b5;
    border-radius: 10px;
    box-sizing: border-box;
    color: #f1e4cd;
    cursor: pointer;
    display: block;
    font-weight: bold;
    font-size: 30px;
    height: 60px;
    width: 120px;
    margin: auto;
    margin-top: 20px;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    touch-action: manipulation;
    border: none;
}

.login-button:hover {
  background-color: #A56894;
}